
body{
    margin: 0;
    background-color: #FFE0B5;
}

/* Fonts */
.poetsen-one-regular,
footer, 
h1, 
h2, 
li, 
p {
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.playfair-display {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-size: 25px;
    font-weight: bolder;
}

/*Nav*/
.nav-bar {
    display: flex;
    justify-content: center;
}
@media (min-width: 320px) and (max-width: 430px) {
    .nav-bar {
        display: none;
    }
  }


@media (min-width: 768px) and (max-width: 1440px) {
    .nav-bar{
    gap: 1rem;
    }
}

.nav-bar > a {
    justify-content: center;
    text-decoration: none;
    transition: ease 0.5s;
    color: #1f1811;
    padding: 14px 16px;
    border-radius: 5px;
}
  
a:hover {
    color: #F8C794;
    transition: ease-out .5s;
    text-shadow: 1px 0px 1.8rem #F8C794;
 }

/*Images*/
.image-container1, .image-container2{
    display: flex;
}
    
@media (min-width: 320px) and (max-width: 430px) { 
    .image-container1, .image-container2{
        justify-content: center;
    }
}

.cafe-exfolia-Size{
    width: 10rem;
    transform: translateY(-2.5rem);
}

@media (min-width: 320px) and (max-width: 430px) {
    .cafe-exfolia-Size {
        width: 10rem;
        transform: translateY(1.5rem);
    }
  }
  @media (min-width: 431px) and (max-width: 768px) {
    .cafe-exfolia-Size {
        width: 12rem;
        transform: translateY(1rem);
    }
  }

  .branding-size{
    
  }

  @media (min-width: 320px) and (max-width: 430px) {
    .branding-size{
        width: 15rem;
        transform: translateY(3rem);
    }
  }

/*Product Info*/

@media (min-width: 320px) and (max-width: 430px){
    .wwlcessContainer{
        margin-top: 5.5rem;
    }
}
    
.WWLCESS2{
    text-align: center;
}

.product-info{
  
    
}
@media (min-width: 320px) and (max-width: 430px) {
    .product-info{
        margin-right: 2.5rem;
        font-size: 80%;
        line-height: 24.5px;
        text-align: center;
        list-style: none;
        transform: translateY(-0.4rem)
    }
    
}

/*Product Image*/

@media (min-width: 320px) and (max-width: 430px){
.soapbarContainer{
    display: flex;
    justify-content: center;
}
.soapbar{
    position: relative;
    width: 15rem;
    border-radius: 0.45rem;
    margin-bottom: 1.25rem;
    
}

}

/*Soapresso*/

/*About Us*/
@media (min-width: 320px) and (max-width: 430px) {
    .Container1, 
    .Container2{
        width: 80%;
        margin: 0 auto;
        margin-top: 1.5rem;
    }
}


@media (min-width: 320px) and (max-width: 430px) {
    .aboutUS, 
    .soapresso{
        text-align: center;
    }
    .aboutUsParagraph, 
    .soapressoparagraph{
        text-align: center;
        line-height: 1.6rem;
        width: 105%;
    }
}




 /*Footer*/
 footer{
 
 }

 /*Utility Classes*/
 .flex{
    display: flex;
 }
 .absolute{
    position: absolute;

 }
 .relative{
    position: relative;
 }
 .fixed{
    position: fixed;
 }

/*HR Elements*/
.hrone{
    width: 80%;
    border: 3.5px  inset black;
    border-radius: 1rem;
}